<script type="module" src="@components/pages/index/index.js"></script>
<link rel="stylesheet" href="@components/pages/index/index.scss">

<main class="page">
	<div class="page__container">

		<div class="game">
			<div class="game__wrap">
				<div class="game__amount">
					<img src="@img/board.png" alt="Logo">
				</div>

				<div class="game__field">
					<div class="game__left">
						<div class="side-panel">
							<div class="side-panel__buy">
								<span class="side-panel__buy-label">BUY<br>FREE SPINS</span>
								<span class="side-panel__buy-price">$200</span>
							</div>
							<div class="side-panel__bet">
								<span class="side-panel__bet-label">BET</span>
								<span class="side-panel__bet-amount">$2.50</span>
								<span class="side-panel__bet-desc">DOUBLE<br>CHANCE TO<br>WIN FEATURE</span>
								<button class="side-panel__toggle">
									<span class="side-panel__toggle-arrow">&#10132;</span> OFF
								</button>
							</div>
						</div>
					</div>

					<div class="drum">
						<div class="drum__spinner">
							<div class="drum__column">
								<div class="drum__image"><img src="@img/icon/icon-1.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-2.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-3.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-4.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-5.png" alt="Icon game"></div>
							</div>
							<div class="drum__column">
								<div class="drum__image"><img src="@img/icon/icon-5.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-6.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-7.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-8.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-1.png" alt="Icon game"></div>
							</div>
							<div class="drum__column">
								<div class="drum__image"><img src="@img/icon/icon-1.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-2.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-3.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-4.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-5.png" alt="Icon game"></div>
							</div>
							<div class="drum__column">
								<div class="drum__image"><img src="@img/icon/icon-5.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-6.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-7.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-8.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-1.png" alt="Icon game"></div>
							</div>
							<div class="drum__column">
								<div class="drum__image"><img src="@img/icon/icon-1.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-2.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-3.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-4.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-5.png" alt="Icon game"></div>
							</div>
							<div class="drum__column">
								<div class="drum__image"><img src="@img/icon/icon-5.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-6.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-7.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-8.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-1.png" alt="Icon game"></div>
							</div>
						</div>
					</div>

					<div class="game__right">
						<div class="game__logo">
							<img src="@img/logo.png" alt="Logo">
						</div>
						<div class="game__zevs">
							<img src="@img/zevs.png" alt="Zevs">
						</div>
					</div>
				</div>
			</div>

			<div class="menu">
				<div class="menu__container">
					<div class="menu__left">
						<div class="menu__wrap-icon">
							<a href="#" class="menu__sound">
								<img alt="Sound" src="@img/button/sound.png">
							</a>
						</div>
						<div class="menu__bonus">
							<div class="menu__balance-row">
								<span>Credit</span>
								<div class="menu__info"><span class="number">100,000.00</span></div>
							</div>
							<div class="menu__bet-row">
								<span>Bet</span>
								<div class="menu__credit"><span class="number">2.00</span></div>
							</div>
						</div>
					</div>
					<div class="menu__center">
						<p class="menu__title">HOLD SPACE FOR TURBO SPIN</p>
					</div>
					<div class="menu__right">
						<a href="#" class="menu__minus menu__button-arrow bottom">
							<img alt="Minus" src="@img/button/minus.png">
						</a>
						<a href="#" class="menu__button-spin">
							<img alt="Spin" src="@img/button/arrows.png">
						</a>
						<a href="#" class="menu__plus menu__button-arrow">
							<img alt="Plus" src="@img/button/plus.png">
						</a>
						<a href="#" class="menu__button-auto">
							<span class="menu__autoplay-label">AUTOPLAY</span>
						</a>
					</div>
				</div>
			</div>

			<div class="popup">
				<div class="popup__overlay"></div>
				<div class="popup__content">
					<div class="popup__inner">
						<h2 class="popup__title">Congratulations!</h2>
						<p class="popup__text">Ready to continue playing?</p>
						<a class="cta-button" href="#">Download Now</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</main>
